<template>
    <main>
        <div class="list"  > 
            <div v-for="item in list" class="feedback-local-item feedback-item">
                <h4 class="feedback-local-item-title feedback-title">
                    <span class="name">{{item._name}}</span>&nbsp;
                    <span class="date">{{item._date.substr(0, 10)}}</span>
                </h4>
                <p class="feedback-local-item-description feedback-description">
                    {{item._text}}
                </p>
            </div>
        </div>

        <ul class="pagination">
            <li class="pagination-navigation left">
                <div class="top-part"></div>
                <div class="bottom-part"></div>
            </li>
            <li v-for="item in pagelist" 
                :class=" item === page ? 'pagination-page active' : 'pagination-page' "
                @click=" item === page ? '' : getCommentsList(item)" >
                
                {{ item + 1 }}
            </li>
            <!-- <li class="pagination-page active">2</li>
            <li class="pagination-page">3</li> -->
            <li class="pagination-navigation right">
                <div class="top-part"></div>
                <div class="bottom-part"></div>
            </li>
        </ul>
        
    </main>
</template>

<script>
export default {
    data() {
		return {
            list: [],
            page: 0,
            pagelist: [],
        }
    },
    methods: {
        getCommentsList(page){
            this.page = page;
            document.body.scrollTop = document.documentElement.scrollTop = 0;
            this.$store.dispatch('getCommentsList',{
                page, callback: (data)=>{ this.list = data; console.log(this.list) }
            });
        },
        getCommentsPages(){
            this.$store.dispatch('getCommentsPages',{
              callback: (data)=>{
                  for (let i = 0; i < data; i++) this.pagelist.push(i);
              }
            });
        },
    },
    beforeMount(){
        this.getCommentsPages();
        this.getCommentsList(0);
    }
}
</script>

<style lang="scss" scoped>

.list{
    display: flex;
    flex-direction: column;
}

</style>