<template>
    <div class="feedback-external">
        <h4 class="feedback-external-title article-title">
            {{data._subject}}
        </h4>
        <div v-html="data._text"> </div>
        
    </div>
</template>

<script>
export default {
    data() {
		return {
            data: {}
        }
    },
    methods:{
        getLastCommentsList(){
            this.$store.dispatch('getTextContent',{
                callback: (data)=>{ this.data = data.data.feedback_links; console.log(data.data);}
            });
        },
    },
    beforeMount(){
        this.getLastCommentsList()
    }
}
</script>
