<template>
    <div class="form-wrapper">
        <label for="feedback-form" class="feedback-form-title title">Опубликовать отзыв</label>
        <el-form :model="newCommentForm" :rules="formRules" ref="calc" id="feedback-form" class="feedback-form" @submit.prevent.native="onFormSubmit" >
            <div class="top-row">
                <div class="inputs-wrapper">
                    <div class="single-input">
                        <label for="your-name" class="form-title">Ваше имя:</label>
                        <el-form-item prop="name">
                            <el-input type="text" v-model="newCommentForm.name" auto-complete="off" ></el-input>
                        </el-form-item>
                    </div>
                    <div class="single-input">
                        <label for="your-email" class="form-title">Ваш email:</label>
                        <el-form-item prop="email">
                            <el-input type="text" v-model="newCommentForm.email" auto-complete="off" ></el-input>
                        </el-form-item>
                    </div>
                </div>
                <div class="inputs-wrapper">
                    <label for="feedback-form-textarea" class="form-title">Ваш отзыв:</label>
                    <!-- <textarea rows="3" maxlength="500"   required></textarea> -->
                    <el-form-item prop="text">
                      <el-input
                        type="textarea"
                        class="feedback-form-textarea"
                        id="feedback-form-textarea"
                        v-model="newCommentForm.text">
                      </el-input>
                    </el-form-item>
                </div>
            </div>
            <el-button native-type="submit" class="form-submit center"> Опубликовать </el-button>
        </el-form>
    </div>
</template>

<script>
  export default {
    data() {
      return {

        newCommentForm: {
          name: '',
          email: '',
          text: '',
        },

        formRules: {
          name: [{required: true, message: 'Это поле обязательно к заполнению', trigger: 'submit'}],
          email: [
            {required: true, message: 'Это поле обязательно к заполнению', trigger: 'submit'},
            {
              validator: (rule, value, callback) => {
                if (!value.match(/^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$/)) callback(new Error('Email must be like a typical email address email@domain.com'));
                callback();
              }, trigger: 'submit'
            }
          ],
          text: [{required: true, message: 'Это поле обязательно к заполнению', trigger: 'submit'}],
        },
      }
    },
    methods: {
      sendForm(){
        this.$store.dispatch('addComment', {
            name: this.newCommentForm.name,
            email: this.newCommentForm.email,
            text: this.newCommentForm.text,
            callback: (res) => {
              if (res.accepted && res.success) {
                const h = this.$createElement;
                this.$notify({
                  title: 'Успех',
                  message: 'Ваш комментарий будет проверен в блидайшее время',
                  type: 'success'
                });
              } else alert('server error')
            }
        });
      },



      onFormSubmit() {
        this.$refs['calc'].validate(valid => {
          if (valid) {
            this.sendForm();
            return this.isCodeSend = true;
          } else {
            return false;
          }
        });
      }
    },
  }
</script>

<style lang="scss" scoped>

  .result{

    .list{
      background: #F8F8F8;
      border-radius: 10px;
      padding: 40px 25px;
      max-width: 450px;
      margin: 0 auto 66px auto;
    }
    .item{
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-top: 1px solid #000;
    }
    .back{
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 20px;
      height: 20px;
      i{
         font-size: 20px
      }
    }
    .defoult_button{
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;

      display: block;
      text-align: center;
      margin: 0 auto;
      padding: 5px;
      cursor: pointer;
      color: #fff;
      background: #44E0EA;
      border: 0;

      width: 236px;
      border-radius: 4px;
      height: 40px;
      line-height: 40px;
    }
    .step3{
      justify-content: center;
    }
    .step4{
      padding: 20px;
      align-items: center;
      justify-content: center;
    }
  }

</style>
