<template>
    <div>
      <el-form :model="ruleForm"  :rules="rules" ref="ruleForm" :inline="true" label-width="120px">
        <el-form-item label="Имя" prop="account">
            <el-input v-model="ruleForm.name"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">Add</el-button>
        </el-form-item>
      </el-form>
    </div>

</template>

<script>
  export default {
    props: ["update"],
    data() {
      return {
        ruleForm: {
          name: '',
        },
        rules: {
          account: [
            { required: true, message: 'Please input account', trigger: 'blur' },
          ]
        }
      };
    },
    methods: {
      success(){
        this.$notify({
            title: 'Успех',
            message: 'Данные обновлены',
            type: 'success'
        });
        this.$props.update();
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$store.dispatch('addStatus', {
              account: this.ruleForm.account,
              token: this.ruleForm.token,
            });
            this.success();
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>

<style scoped>

  form{
    padding-top: 20px;  
  }
</style>
