<template>
    <div>
        <el-form :model="ruleForm"  :rules="rules" ref="ruleForm" label-width="120px">
          <el-form-item label="Ключ" prop="key">
              <el-input v-model="ruleForm.key" style="width:600px"></el-input>
          </el-form-item>
          <el-form-item label="Секрет" prop="secret">
              <el-input v-model="ruleForm.secret" style="width:600px"></el-input>
          </el-form-item>
          <el-form-item>
              <el-button type="primary" @click="submitForm('ruleForm')">Обновить</el-button>
          </el-form-item>
        
        </el-form>
    </div>

</template>

<script>
  export default {
    props: ['update'],
    data() {
      return {
        ruleForm: {
          key: '',
          secret: '',
        },
        rules: {
          key: [
            { required: true, message: 'Please input key', trigger: 'blur' },
          ],
          secret: [
            { required: true, message: 'Please select secret', trigger: 'blur' }
          ]
        }
      };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$store.dispatch('addAdminWex', {
              key: this.ruleForm.key,
              secret: this.ruleForm.secret,
              callback: ()=>{
                this.$props.update();
                this.$notify({
                    title: 'Успех',
                    message: 'Данные обновлены',
                    type: 'success'
                });
              }
            });
          } else {
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>

<style scoped>

  form{
    padding-top: 20px;  
  }
</style>
