<template>
    <el-form  ref="tamplates" class="admin_form">
        <div class="row">
            
            <div class="input">
                <el-form-item label="Заголовок">
                    <el-input v-model="tamplates.t1"></el-input>
                </el-form-item>
                <el-form-item label="Текст">
                    <el-input type="textarea" :rows="7" v-model="tamplates.t2"></el-input>
                </el-form-item>
                <div>Пример: {{ sampl1 }}  </div>
            </div>
            <div class="edit">
                <div>Текст на главной</div>
                <el-button type="primary" @click="setContentHomeMain" >Изменить</el-button>
            </div>

            <div class="text">
                {{data.home_main_text._subject}}
                
                <hr />
                {{data.home_main_text._text}}
            </div>
        </div>




        <div class="row">
            
            <div class="input">
                <el-form-item label="Заголовок">
                    <el-input v-model="tamplates.t5"></el-input>
                </el-form-item>
                <el-form-item label="Текст">
                    <el-input type="textarea" :rows="7" v-model="tamplates.t6"></el-input>
                </el-form-item>
                <div>Пример: {{ sampl1 }}  </div>
            </div>
            <div class="edit">
                <div>Текст на главной <br /> ('этап 2')</div>
                <el-button type="primary" @click="setContentHomeMain2" >Изменить</el-button>
            </div>

            <div class="text">
                {{data.exchange._subject}}
                
                <hr />
                {{data.exchange._text}}
            </div>
        </div>



        <div class="row">
            <div class="input">
                <el-form-item label="Заголовок">
                    <el-input v-model="tamplates.t3"></el-input>
                </el-form-item>
                <el-form-item label="Текст">
                    <el-input type="textarea" :rows="7" v-model="tamplates.t4"></el-input>
                </el-form-item>
            </div>
            <div class="edit">
                <div>Текст возле отзывов</div>
                <el-button type="primary" @click="setContentFeedbackLinks" >Изменить</el-button>
            </div>
            <div class="text">
                {{data.feedback_links._subject}}
                <hr />
                {{data.feedback_links._text}}
            </div>
        </div>

        <div class="row">
            <div class="input">
                <el-form-item label="Правила обмена">
                    <el-input type="textarea" :rows="7" v-model="tamplates.t9"></el-input>
                </el-form-item>
            </div>
            <div class="edit">
                <div>Текст правил обмена</div>
                <el-button type="primary" @click="updateRules" >Изменить</el-button>
            </div>
            <div class="text">
                {{data.rules._text}}
            </div>
        </div>
    </el-form>
</template>

<script>
    export default {
        name: "templates",
        data(){
          return {
              tamplates:{
                  t1: '',
                  t2: '',
                  t3: '',
                  t4: '',
              },
              data: {
                  home_main_text:{},
                  exchange:{},
                  feedback_links:{},
                  rules: {}
              },
              sampl1: '<li class="pros-list-item"><p>Обычный текст <b>жирный</b> и еще обычный</p></li>'
          }
        },
        methods: {
            success(){
                this.$notify({
                    title: 'Успех',
                    message: 'Изиенения сохранены',
                    type: 'success'
                });
                this.getTextContent()
            },
            getTextContent(){
                this.$store.dispatch('getTextContent',{
                    callback: (data)=>{ this.data = data.data;}
                });
            },
            setContentHomeMain(){
                this.$store.dispatch('setContentHomeMain',{
                    subject: this.tamplates.t1,
                    text: this.tamplates.t2,
                    callback: (data)=>{ this.data = data.data; this.success();  }
                });
            },
            setContentHomeMain2(){
                this.$store.dispatch('setContentHomeMain2',{
                    subject: this.tamplates.t5,
                    text: this.tamplates.t6,
                    callback: (data)=>{ this.data = data.data; this.success(); }
                });
            },
            setContentFeedbackLinks(){
                this.$store.dispatch('setContentFeedbackLinks',{
                    subject: this.tamplates.t3,
                    text: this.tamplates.t4,
                    callback: (data)=>{ this.data = data.data; this.success(); }
                });
            },
            updateRules(){
                this.$store.dispatch('updateRules', {
                    text: this.tamplates.t9,
                    callback: ()=>{ this.success() }
                });
            }
        },
        beforeMount(){
            this.getTextContent()
        }
    }
</script>


<style lang="scss" scoped>
    .row{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #000;
        .input, .text{
            flex: 3;
        }
        .edit{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex:1;
            text-align: center;
        }
    }
    .admin_form{
        padding: 0 45px;
    }
</style>
