<template>
    <div class="loginForm_container">
      <el-form :model="loginForm" :rules="rules" ref="loginForm" label-width="120px" class="loginForm">
        <h2>Welcome</h2>
        <el-form-item label="Login" prop="login">
          <el-input v-model="loginForm.login"></el-input>
        </el-form-item>

        <el-form-item label="Password" prop="pass">
          <el-input v-model="loginForm.pass" type="password"></el-input>
        </el-form-item>
        <div class="primary_container">
          <el-button type="primary" @click="submitForm('loginForm')">Start</el-button>
        </div>
      </el-form>
    </div>
</template>

<script>
    export default {
        name: "login",
        data(){
          return {
            loginForm: {
              login: '',
              pass: ''
            },
            rules:{
              login: [
                { required: true, message: 'Your login is required', trigger: 'submit' }
              ],
              pass: [
                { required: true, message: 'Your password is required', trigger: 'submit' }
              ],
            }
          }
        },
      methods: {
        submitForm(formName) {
          this.$refs[formName].validate((valid) => {
            if (valid) {
              console.log(this.loginForm);
              
              this.$store.dispatch('adminSignIn', this.loginForm );
            } else {
              console.log('error submit!!');
              return false;
            }
          });
        }
      }
    }
</script>

<style >
  /* header, footer{
    display: none;
  }
  html, body, #app{
    width: 100%;
    height: 100%;
  } */
</style>

<style lang="scss" scoped>
  .loginForm_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginForm{
    padding: 20px;
    width: 400px;
    -webkit-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2);
    border-radius: 10px;
    border: 3px solid #d5d5d5;
  }
  h2{
    text-align: center;
  }
  .primary_container{
    display: flex;
    justify-content: center;
    button{
      width: 150px;
      text-transform: uppercase;
    }
  }
</style>
