<template>
  <el-menu
    :default-active="activeIndex"
    class="el-menu-demo"
    mode="horizontal"
    @select="handleSelect"
    background-color="#545c64"
    text-color="#fff"
    active-text-color="#ffd04b">
    <el-menu-item index="qiwi"> QIWI </el-menu-item>
    <el-menu-item index="wex"> WEX </el-menu-item>
    <el-menu-item index="orders"> Заявки </el-menu-item>
    <!-- <el-menu-item index="status"> Статус </el-menu-item> -->
    <el-menu-item index="feedback"> Отзывы </el-menu-item>
    <el-menu-item index="new_feedback"> Новые отзывы </el-menu-item>
    <el-menu-item index="content"> Контент </el-menu-item>
    <el-menu-item index="settings"> Настройки </el-menu-item>
  </el-menu>
</template>

<script>
    export default {
        name: "Menu",
        data(){
          return {
            activeIndex: 'qiwi'
          }
        },
        methods: {
          handleSelect(key){
            this.$store.commit('setAdminPage', key)
          }
        },
    }
</script>

<style scoped>

</style>
