<template>
<div>
  <el-table
    :data="tableData"
    :default-sort = "{prop: 'date', order: 'descending'}"
    empty-text="no data"
    style="width: 100%"> 
    <el-table-column
      prop="_id"
      label="#"
      width="70px"
      sortable>
    </el-table-column>
    <el-table-column
      label="Имя"
      width="200px"
      sortable>
        <template slot-scope="scope">
            {{ scope.row._name }}
            <br />
            {{ scope.row._email }}
        </template>
    </el-table-column>
    <el-table-column
      label="Дата"
      width="200px"
      sortable>
        <template slot-scope="scope">
            {{ formatDate( scope.row._date) }}
        </template>
    </el-table-column>
    <el-table-column
      label="Имя"
      width="200px"
      sortable>
        <template slot-scope="scope">
            <el-button size="mini" type="success" 
            @click="onAccept(scope.row._id)">Accept</el-button>
            <el-button size="mini" type="danger"
            @click="onDelete(scope.row._id)">Delete</el-button>
        </template>
    </el-table-column>
    <el-table-column
      prop="_text"
      label="Текст"
      sortable>
    </el-table-column>
  </el-table>
</div>

</template>

<script>
    export default {
        name: "feedback",
        data(){
          return {
            expendedInfo: {},
            tableData: [
            ]
          }
        },
        methods: {
          formatDate(date_str){
            let date = new Date(date_str);
            return this.addZero(date.getFullYear())+':'+this.addZero(date.getMonth()+1)+':'+this.addZero(date.getDate())+ '  '+
                this.addZero(date.getHours())+':'+this.addZero(date.getMinutes())+':'+this.addZero(date.getSeconds());
          },
          addZero(i){ return (i < 10) ? "0"+i : i; },
          onAccept(id){
            this.$store.dispatch('acceptAdminComment',{
              id, callback: ()=>{ this.getData()  }
            });
          },
          onDelete(id){
            this.$store.dispatch('deleteAdminComment',{
              id, callback: ()=>{ this.getData()  }
            });
          },

          getData(){
            this.$store.dispatch('getAdminComments',{
              callback: (data)=>{ this.setDate(data) }
            });
          },
          setDate(data){
              this.tableData = data;
          },
        },
        beforeMount(){
          this.getData();
        }
    }
</script>

<style scoped>

</style>
