<template>
<div class="expended_info">
    <div class="column">
            <div class="list">
                <div class="item">
                    <div class="name"> ID: </div>
                    <div class="val">{{data._id}}</div>
                </div>

                <div class="item">
                    <div class="name" >Отправитель: </div>
                    <div class="val">{{data._from_acc}}</div>
                </div>

                <div class="item">
                    <div class="name" >Получатель: </div>
                    <div class="val">{{data._to_acc}}</div>
                </div>

                <div class="item">
                    <div class="name" >Сумма заявки: </div>
                    <div class="val">{{data._from_am}}</div>
                </div>

                <div class="item">
                    <div class="name" >Сумма с комиссией: </div>
                    <div class="val">{{data._to_am}}</div>
                </div>

                <div class="item">
                    <div class="name" >Комиссия системы: </div>
                    <div class="val">{{data._fee }}</div>
                </div>

                <div class="item">
                    <div class="name" >Комментарий: </div>
                    <div class="val">{{data._comment}}</div>
                </div>

                <div class="item">
                    <div class="name" >Дата заявки: </div>
                    <div class="val">
                        {{ formatDate(data._created) }}
                    </div>
                </div>

                <div class="item">
                    <div class="name" >Сумма транзакции: </div>
                    <div class="val">{{ data._tx_amount ? data._tx_amount : 'null' }}</div>
                </div>

                <div class="item">
                    <div class="name" >Wex купон: </div>
                    <div class="val">{{data._wex ? data._wex : 'null' }}</div>
                </div>

                <div class="item">
                    <div class="name" >Статус </div>
                    <div class="val">{{data._status}}</div>
                </div>
            </div>

            <!-- <el-button type="primary" v-if="!data._checker">Сделать чекером</el-button> -->
    </div>
    
</div>

</template>

<script>
export default {
  props: ["obj"],
  data() {
    return {
      data: this.$props.obj,
    };
  },
  methods: {
          formatDate(date_str){
            let date = new Date(date_str);
            return this.addZero(date.getFullYear())+':'+this.addZero(date.getMonth()+1)+':'+this.addZero(date.getDate())+ '  '+
                this.addZero(date.getHours())+':'+this.addZero(date.getMinutes())+':'+this.addZero(date.getSeconds());
          },
          addZero(i){ return (i < 10) ? "0"+i : i; },
  },
//   beforeMount() {
//     this.getAdminQiwiInfo();
//   }
};
</script>

<style scoped>
    .expended_info {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .list, .keep_money {
        width: 750px;

        padding: 10px;
        border: 1px solid #000;
    }
    .item {
        display: flex;
    }
    .name{
        flex: 1;
    }
    .val {
        flex: 2;
    }
    button {
        width: 100%;
    }

    .column {
        padding-right: 40px;
        flex-direction: column;
    }
</style>
