<template>
  <div>
    <el-table
      :data="tableData"
      ref="qiwiTable"
      :default-sort = "{prop: 'date', order: 'descending'}"
      empty-text="no data"
      style="width: 100%">
      <el-table-column
        type="expand">
        <template slot-scope="props">
          <OrderInfo :obj="props.row" />
        </template>
      </el-table-column>
      <el-table-column
        prop="_id"
        label="#"
        width="100px"
        sortable>
      </el-table-column>
      <el-table-column
        prop="_from_acc"
        label="Отправитель"
        sortable>
      </el-table-column>

      <el-table-column
        prop="_from_am"
        label="Сумма заявки"
        sortable>
      </el-table-column>
      <el-table-column
      label="Дата"
      width="200px"
      sortable>
        <template slot-scope="scope">
            {{ formatDate(scope.row._created) }}

        </template>
    </el-table-column>
      <el-table-column
        prop="_status"
        label="Статус"
        sortable>
      </el-table-column>
    </el-table>
  </div>

</template>

<script>
    import OrderInfo from 'components/admin/OrderInfo'

    export default {
        components: {OrderInfo},
        name: "feedback",
        data(){
          return {
            expendedInfo: {},
            tableData: [
            ]
          }
        },
        methods: {
          formatDate(date_str){
            let date = new Date(date_str);
            return this.addZero(date.getFullYear())+':'+this.addZero(date.getMonth()+1)+':'+this.addZero(date.getDate())+ '  '+
                this.addZero(date.getHours())+':'+this.addZero(date.getMinutes())+':'+this.addZero(date.getSeconds());
          },
          addZero(i){ return (i < 10) ? "0"+i : i; },
          onAccept(id){
            this.$store.dispatch('acceptAdminComment',{
              id, callback: ()=>{ this.getData()  }
            });
          },
          onDelete(id){
            this.$store.dispatch('deleteAdminComment',{
              id, callback: ()=>{ this.getData()  }
            });
          },

          getData(){
            this.$store.dispatch('getAdminOrders',{
              callback: (data)=>{ this.setDate(data); console.log(data);}
            });
          },
          setDate(data){
              this.tableData = data;
          },
        },
        beforeMount(){
          this.getData();
        }
    }
</script>

<style scoped>

</style>
