<template>
<div>
  <AddQiwiForm :update="getData" />
  <div style="position: absolute; right: 20px; top: 10px">
    <el-button type="primary" icon="el-icon-refresh" @click="getData()"></el-button>
  </div>
  <el-table
    :data="tableData"
    ref="qiwiTable"
    :default-sort = "{prop: 'date', order: 'descending'}"
    empty-text="no data"
    style="width: 100%">
    <el-table-column
      type="expand">
      <template slot-scope="props">
        <WalletInfo :account="props.row._account" :id="props.row._id" :update="getData" />
      </template>
      
    </el-table-column>
    <el-table-column
      prop="_id"
      label="id"
      sortable>
    </el-table-column>
    <el-table-column
      prop="_account"
      label="Номер"
      sortable>
    </el-table-column>
    <el-table-column
      prop="_balance"
      label="Баланс"
      sortable>
    </el-table-column>
    <el-table-column
      prop="_status"
      label="Статус"
      sortable>
    </el-table-column>
    <el-table-column
      prop="_expires"
      label="Искает через"
      style="color:red"
      sortable>
    </el-table-column>
  </el-table>
</div>

</template>

<script>
    import AddQiwiForm from 'components/admin/AddQiwiForm'
    import WalletInfo from 'components/admin/WalletInfo'

    export default {
        components: {AddQiwiForm, WalletInfo},
        name: "qiwi",
        data(){
          return {
            expendedInfo: {},
            tableData: []
          }
        },
        computed:{
          expendedInfoUptd(){
            return this.expendedInfo;
          }
        },
        methods: {
          setDate(data){
              this.tableData = data;
          },
          formatter(row, column) {
              return row.address;
          },
          getData(){
            this.$store.dispatch('getAdminQiwi',{
              callback: (data)=>{ this.setDate(data); console.log(data);
              }
            });
          }
        },
        beforeMount(){
          this.getData();
        }
    }
</script>

<style scoped>

</style>
