<template>
    <el-form :model="tamplates" ref="tamplates" class="admin_form">

        <div class="row">
            <div class="input">
                <el-form-item label="Комиссия">
                    <el-input v-model="tamplates.t1"></el-input>
                </el-form-item>
            </div>
            <div class="edit">
                <el-form-item>
                    <el-button type="primary" @click="updateFee">Изменить</el-button>
                </el-form-item>
            </div>

            <div class="text">
                {{data.d1}}
            </div>
        </div>
        
        <div class="row">
            <div class="input">
                <el-form-item label="Лимит кошелька">
                    <el-input v-model="tamplates.t2"></el-input>
                </el-form-item>

            </div>
            <div class="edit">
                <el-form-item >
                    <el-button type="primary" @click="updateLimit">Изменить</el-button>
                </el-form-item>
            </div>

            <div class="text">
                {{data.d2}}
            </div>
        </div>

        <div class="row">
            <div class="input">
                <el-form-item label="Тема письма (Письмо с wex купоном )">
                    <el-input v-model="tamplates.t3"></el-input>
                </el-form-item>
                <el-form-item label="Текст">
                    <el-input v-model="tamplates.t4"></el-input>
                </el-form-item>
            </div>
            <div class="edit">
                <el-form-item >
                    <el-button type="primary"  @click="updateCouponLetters">Изменить</el-button>
                </el-form-item>
            </div>

            <div class="text">
                {{data.d3._type}} <br />
                {{data.d3._subject}} <br />
                {{data.d3._text}}
            </div>
        </div>

        <div class="row">
            <div class="input">
                <el-form-item label="Тема письма (Письмо о принятой заявке)">
                    <el-input v-model="tamplates.t5"></el-input>
                </el-form-item>
                <el-form-item label="Текст">
                    <el-input v-model="tamplates.t6"></el-input>
                </el-form-item>
            </div>
            <div class="edit">
                <el-form-item >
                    <el-button type="primary"  @click="updatePayoutLetters">Изменить</el-button>
                </el-form-item>
            </div>

            <div class="text">
                {{data.d5._type}} <br />
                {{data.d5._subject}} <br />
                {{data.d5._text}}
            </div>
        </div>

        <div class="row">
            <div class="input">
                <el-form-item label="Тип контакта">
                    <el-input v-model="tamplates.t7"></el-input>
                </el-form-item>
                <el-form-item label="Контакт">
                    <el-input type="textarea" :rows="4" v-model="tamplates.t8"></el-input>
                </el-form-item>
            </div>
            <div class="edit">
                <el-form-item >
                    <el-button type="primary"  @click="addContact">Добавить</el-button>
                </el-form-item>
                <el-form-item >
                    <el-button type="primary"  @click="updateContact">Изменить</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary"  @click="removeContact">Удалить</el-button>
                </el-form-item>
            </div>

            <div class="text">
                <div class="contact" v-for="i in data.d7">
                    <div> {{i._name}}  </div> 
                    <div v-html="i._value"> </div> 
                </div>
            </div>
        </div>


        <div class="row">
            <div class="input">
                <el-form-item label="Старый пароль">
                    <el-input v-model="tamplates.t9"></el-input>
                </el-form-item>
                <el-form-item label="Новый пароль">
                    <el-input v-model="tamplates.t10"></el-input>
                </el-form-item>
            </div>
            <div class="edit">
                <el-form-item >
                    <el-button type="primary"  @click="updatePass">Изменить</el-button>
                </el-form-item>
            </div>

            <div class="text">
            </div>
        </div>


    </el-form>
</template>

<script>
    export default {
        name: "templates",
        data(){
          return {
              tamplates:{
                  t1: '',
                  t2: '',
                  t3: '',
                  t4: '',
              },
              data:{
                  d1:'',
                  d2:'',
                  d3:{},
                  d5:{},
                  d7:{},
              }
          }
        },
      methods: {
        success(){
            this.$notify({
                title: 'Успех',
                message: 'Данные сохранены',
                type: 'success'
            });
            this.getAllInfo();
        },
        getAllInfo(){
            this.$store.dispatch('getFee', {callback: (data)=>{ this.data.d1 = data._fee }});
            this.$store.dispatch('getLimit', {callback: (data)=>{ this.data.d2 = data._limit }});
            this.$store.dispatch('getLetters', {callback: (data)=>{
                data.forEach(el => {
                    if( el._name === 'coupon') this.data.d3 = el;
                });
                data.forEach(el => {
                    if( el._name === 'order') this.data.d5 = el;
                });
            }});
            this.$store.dispatch('getContacts', {callback: (data)=>{ this.data.d7 = data}});
        },
        updatePass(){
            this.$store.dispatch('updatePass', {
                old: this.tamplates.t9,
                newp: this.tamplates.t10,
                callback: ()=>{ this.success() }
            });
        },   
        updateFee(){
            this.$store.dispatch('updateFee', {
                fee: this.tamplates.t1,
                callback: ()=>{ this.success() }
            });
        },          
        updateLimit(){
            this.$store.dispatch('updateLimit', {
                limit: this.tamplates.t2,
                callback: ()=>{ this.success() }
            });
        },
        updateCouponLetters(){
            this.$store.dispatch('updateCouponLetters', {
                subject: this.tamplates.t3,
                text: this.tamplates.t4,
                callback: ()=>{ this.success() }
            });
        },
        updatePayoutLetters(){
            this.$store.dispatch('updatePayoutLetters', {
                subject: this.tamplates.t5,
                text: this.tamplates.t6,
                callback: ()=>{ this.success() }
            });
        },
        addContact(){
            this.$store.dispatch('addContact', {
                name: this.tamplates.t7,
                value: this.tamplates.t8,
                callback: ()=>{ this.success() }
            });
        },
        updateContact(){
            this.$store.dispatch('updateContact', {
                name: this.tamplates.t7,
                value: this.tamplates.t8,
                callback: ()=>{ this.success() }
            });
        },
        removeContact(){
            this.$store.dispatch('removeContact', {
                name: this.tamplates.t7,
                callback: ()=>{ this.success() }
            });
        }
      },
      beforeMount(){
          this.getAllInfo();
      }
    }
</script>


<style lang="scss" scoped>
    .row{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #000;
        .input, .text{
            flex: 3;
        }
        .edit{
            justify-content: center;
            align-items: center;
            flex:1;
            button{
                margin: 20px 0 0 20px  ;
            }
        }
    }
    .contact{
        display: flex;
        div{ padding: 5px;}
    }
    .admin_form{
        padding: 0 45px;
    }
</style>
