<template>
    <el-form :model="tamplates" ref="tamplates" >

        <div class="row">
            <div class="input">
                <el-form-item label="">
                    <el-input v-model="tamplates.t1"></el-input>
                </el-form-item>
                    
            </div>
            <div class="edit">
                <el-form-item >
                    <el-button type="primary"  >Изменить</el-button>
                </el-form-item>
            </div>

            <div class="text">
                test cont
            </div>
        </div>

        
        <div class="row">
            <div class="input">
                <el-form-item label="Неверно введена сумма">
                    <el-input v-model="tamplates.t1"></el-input>
                </el-form-item>

            </div>
            <div class="edit">
                <el-form-item >
                    <el-button type="primary"  >Изменить</el-button>
                </el-form-item>
            </div>

            <div class="text">
                test cont
            </div>
        </div>

        <div class="row">
            <div class="input">
                <el-form-item label="Неверно введен телефон">
                    <el-input v-model="tamplates.t1"></el-input>
                </el-form-item>

            </div>
            <div class="edit">
                <el-form-item >
                    <el-button type="primary"  >Изменить</el-button>
                </el-form-item>
            </div>

            <div class="text">
                test cont
            </div>
        </div>

    </el-form>
</template>

<script>
    export default {
        name: "templates",
        data(){
          return {
              tamplates:{
                  t1: '',
                  t2: '',
              }
          }
        },
      methods: {

      }
    }
</script>


<style lang="scss" scoped>
    .row{
        display: flex;
        flex-direction: row;
        align-items: center;
        .input, .text{
            flex: 3;
        }
        .edit{
            justify-content: center;
            align-items: center;
            flex:1;
            button{
                margin: 20px 0 0 20px  ;
            }
        }
    }
</style>
