<template>
<div class="expended_info">
    <div class="column">
            <div class="list">
                <div class="item">
                    <div class="name" >_account: </div>
                    <div class="val">{{data._account}}</div>
                </div>

                <div class="item">
                    <div class="name" >_wallet: </div>
                    <div class="val">{{data._wallet}}</div>
                </div>

                <div class="item">
                    <div class="name" >_token: </div>
                    <div class="val">{{data._token}}</div>
                </div>

                <div class="item">
                    <div class="name" >_balance: </div>
                    <div class="val">{{data._balance}}</div>
                </div>

                <div class="item">
                    <div class="name" >_expires: </div>
                    <div class="val">{{data._expires}}</div>
                </div>

                <div class="item">
                    <div class="name" >_checker: </div>
                    <div class="val">{{data._checker ? 'да' : 'нет'}}</div>
                </div>
            </div>

            <el-button type="primary" v-if="!data._checker" @click="setCheker">Сделать чекером</el-button>
    </div>
    <div class="column">
        <el-form ref="payForm"  :model="tokenForm" >
            <div class="keep_money">
                <el-form-item :label="'Токен' "> 
                    <el-input v-model="tokenForm.input"></el-input>
                </el-form-item>
            </div>
            <el-button type="primary" @click="onTokenFormSubmit">Изменить</el-button>
            <br />
            <br />
            <el-button type="danger" @click="onWalletRemove">Удалить</el-button>
        </el-form>
    </div>
    <div class="column">
        <el-form ref="payForm"  :model="payForm" >
            <div class="keep_money">
                <el-form-item label="Куда выводим">
                    <el-input v-model="payForm.account"></el-input>
                </el-form-item>
                <el-form-item :label="'Сколько выводить (на счету: '+data._balance+'р)' "> 
                    <el-input v-model="payForm.amount"></el-input>
                </el-form-item>
            </div>
            <el-button type="primary" @click="onPayFormSubmit">Вывести</el-button>
        </el-form>
    </div>
</div>

</template>

<script>
export default {
  props: [ "id", "update"],
  data() {
    return {
      data: {},
      payForm: {
        account: "",
        amount: ""
      },
      tokenForm:{
          token: ''
      }
    };
  },
  methods: {
    success(){
        this.$notify({
            title: 'Успех',
            message: 'Кошелек удален',
            type: 'success'
        });
        this.$props.update();
    },
    successCheker(){
        this.$notify({
            title: 'Успех',
            message: 'Кошелек выбран проверочным',
            type: 'success'
        });
        this.$props.update();
    },
    successToken(){
        this.$notify({
            title: 'Успех',
            message: 'Токен изменен',
            type: 'success'
        });
    },
    successPayout(){
        this.$notify({
            title: 'Успех',
            message: 'Деньги отправлены',
            type: 'success'
        });
    },
    onErrorPayout(){
        this.$notify({
            title: 'Проблема',
            message: 'Выплата неаозможна',
            type: 'error'
        });
    },
    getAdminQiwiInfo() {
        this.$store.dispatch("getAdminQiwiInfo", {
            id: this.$props.id,
            callback: obj => {
                this.data = obj;
                this.payForm.amount = obj._balance;
                this.tokenForm.token = obj._token;
            }
        });
    },
    onWalletRemove(){
        this.$store.dispatch("removeAdminQiwi", {
            id: this.$props.id,
            callback: obj => {
                this.success();
            }
        });
    },
    setCheker(){
        this.$store.dispatch("setCheker", {
            id: this.$props.id,
            callback: obj => {
                this.successCheker();
            }
        });
    },
    onTokenFormSubmit(){
        this.$store.dispatch("updateQiwiToken", {
            wallet: this.$props.id, 
            token: this.tokenForm.token,
            callback: obj => {
                this.successToken();
            }
        });
    },
    onPayFormSubmit(){
        this.$store.dispatch("PayFormSubmit", {
            wallet: this.$props.id, 
            amount: this.payForm.amount,
            account: this.payForm.account,
            callback: this.successPayout,
            onError: this.onErrorPayout,

        });
    },
  },
  beforeMount() {
    this.getAdminQiwiInfo();
  }
};
</script>

<style scoped>
    .expended_info {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .list, .keep_money {
        width: 350px;

        padding: 10px;
        border: 1px solid #000;
    }
    .item {
        display: flex;
    }
    .name{
        flex: 1;
    }
    .val {
        flex: 3;
    }
    button {
        width: 100%;
    }

    .column {
        padding-right: 40px;
        flex-direction: column;
    }
</style>
