<template>
<div>
  <AddWexForm :update="getData"/>
  <el-table
    :data="tableData"
    ref="qiwiTable"
    :default-sort = "{prop: 'date', order: 'descending'}"
    empty-text="no data"
    @expand-change="onExpend"
    style="width: 100%">
    <!-- <el-table-column
      type="expand">
      <template slot-scope="props">
        <WalletInfo :account="props.row._account" :id="props.row._id" />
      </template>
      
    </el-table-column> -->
    <el-table-column
      prop="key"
      label="Ключ"
      sortable>
    </el-table-column>
    <el-table-column
      prop="secret"
      label="Секрет"
      sortable>
    </el-table-column>
    <el-table-column
      label="Время обновления"
      width="200px"
      sortable>
        <template slot-scope="scope">
            {{ formatDate(scope.row.updated_at) }}
        </template>
    </el-table-column>

  </el-table>
</div>

</template>

<script>
    import AddWexForm from 'components/admin/AddWexForm'
    import WalletInfo from 'components/admin/WalletInfo'

    export default {
        components: {AddWexForm, WalletInfo},
        name: "qiwi",
        data(){
          return {
            expendedInfo: {},
            tableData: []
          }
        },
        computed:{
          expendedInfoUptd(){
            return this.expendedInfo;
          }
        },
        methods: {
          formatDate(date_str){
            let date = new Date(date_str);
            return this.addZero(date.getFullYear())+':'+this.addZero(date.getMonth()+1)+':'+this.addZero(date.getDate())+ '  '+
                this.addZero(date.getHours())+':'+this.addZero(date.getMinutes())+':'+this.addZero(date.getSeconds());
          },
          addZero(i){ return (i < 10) ? "0"+i : i; },
          onExpend(row, expandedRows){
            console.log('onExpend');
            this.getInfo(row);
          },
          setDate(data){
              this.tableData = [];
              this.tableData.push(data);
          },
          getInfo(row){
            // console.log('request for', row._id);
          },
          formatter(row, column) {
              return row.address;
          },
          getData(){
            this.$store.dispatch('getAdminWex',{
              callback: (data)=>{ this.setDate(data) }
            });
          }
        },
        beforeMount(){
          this.getData();
        }
    }
</script>

<style scoped>

</style>
