<template>
    <div class="main">
      <Login v-if="!auth" />
      <div class="auth_cont" v-else>
        <Menu />
        <Qiwi v-if="qiwi" />
        <Wex v-if="wex" />
        <Orders v-if="orders" />
        <Status v-if="status" />
        <Feedback v-if="feedback" />
        <NewFeedback v-if="new_feedback" />
        <Templates v-if="templates" />
        <Content v-if="content" />
        <Settings v-if="settings" />
      </div>
    </div>
</template>

<script>
    import Login from '../components/admin/login'
    import Menu from '../components/admin/menu'
    import Qiwi from '../components/admin/qiwi'
    import Wex from '../components/admin/wex'
    import Orders from '../components/admin/orders'
    import Feedback from '../components/admin/feedback'
    import NewFeedback from '../components/admin/NewFeedback'
    import Templates from '../components/admin/templates'
    import Status from '../components/admin/status'
    import Content from '../components/admin/content'
    import Settings from '../components/admin/settings'
    
    export default {
        components: { Login, Menu, Qiwi, Wex, Orders, Feedback, NewFeedback, Templates, Content, Settings, Status },
        name: "login",
        data(){
          return {
            activeIndex: '1'
          }
        },
        computed: {
            auth(){return this.$store.state.admin.auth},
            qiwi(){return this.$store.state.admin.page === 'qiwi'},
            wex(){return this.$store.state.admin.page === 'wex'},
            orders(){return this.$store.state.admin.page === 'orders'},
            status(){return this.$store.state.admin.page === 'status'},
            feedback(){return this.$store.state.admin.page === 'feedback'},
            new_feedback(){return this.$store.state.admin.page === 'new_feedback'},
            templates(){return this.$store.state.admin.page === 'templates'},
            content(){return this.$store.state.admin.page === 'content'},
            settings(){return this.$store.state.admin.page === 'settings'},
        },

        beforeMount(){
            // checkSession
        }
    }
</script>

<style >
  /* header, footer{
    display: none;
  }
  html, body, #app, .main{
    width: 100%;
    height: 100%;
  } */
</style>

<style lang="scss" scoped>
  .main{
    width: 100%;
    height: 100%;
  }
</style>
