<template lang="pug">
  #app
    app-header(v-if="forAdmin")
    router-view
    app-footer(v-if="forAdmin")
</template>

<style lang="scss">

</style>

<script>
  import appHeader from 'components/Header';
  import appFooter from 'components/Footer';  

  export default {
    components: { appHeader, appFooter },
    data(){
      return {

      }
    },
    computed: {
      forAdmin(){
        return  window.location.pathname !== '/admin';
      }
    }
  }
</script>
