<template>
<main>
	<section class="content_wrapper">
		<div class="container">
            <article class="contacts">
                <h2 class="contacts-title title">
                    Контакты
                </h2>
                <div class="contacts-wrapper">
                    <div v-for="item in data">
                        <h3 class="contacts-main-title article-title">
                            {{item._name}}
                        </h3>
                        <div v-html="item._value"> </div>
                    </div>

                </div>
            </article>

			<LastFeedback />

		</div>
	</section>
</main>
</template>

<style lang="scss" scoped>


</style>

<script>
  import LastFeedback from '../components/LastFeedback'

  export default {
    components: {LastFeedback},
	data() {
		return {
            data: {}
        }
    },
    methods: {
        getContats(){
            this.$store.dispatch('getContacts', {callback: (data)=>{ this.data = data}});
        }
    },
    beforeMount(){
        this.getContats()
    }
  }   

</script>
