<template>
<main>
	<section class="content_wrapper">
		<div class="container">
            <article class="feedbacks">
                <h2 class="feedbacks-title title">
                    Отзывы
                </h2>
                <div class="feedback-wrapper">
                    <div class="feedback-local">

                        <Comments />
                        <NewCommentForm />

                    </div>
                    <FeedbackTextContent />
                    

                </div>
            </article>

            <!-- <article class="latest-feedback">
                <h3 class="latest-feedback-title article-title">
                    <a href="feedback.html">Последние отзывы</a>
                </h3>
                <div class="latest-feedback-wrapper">
                    <div class="latest-feedback-item feedback-item">
                        <h4 class="latest-feedback-item-title feedback-title">
                            <span class="name">Андрей</span>&nbsp;<span class="date">13.04.2018</span>
                        </h4>
                        <p class="latest-feedback-item-description feedback-description">
                            Очень хороший обменник,деньги приходят в кротчайшие сроки и процент маленький! Удобно,быстро и легко!!!
                        </p>
                    </div>
                    <div class="latest-feedback-item feedback-item">
                        <h4 class="latest-feedback-item-title feedback-title">
                            <span class="name">Андрей</span>&nbsp;<span class="date">13.04.2018</span>
                        </h4>
                        <p class="latest-feedback-item-description feedback-description">
                            Очень хороший обменник,деньги приходят в кротчайшие сроки и процент маленький! Удобно,быстро и легко!!!
                        </p>
                    </div>
                </div>
            </article> -->
		</div>
	</section>
</main>
</template>

<style lang="scss" scoped>


</style>

<script>
  import NewCommentForm from '../components/feedback/NewCommentForm'
  import Comments from '../components/feedback/Comments'
  import FeedbackTextContent from '../components/feedback/FeedbackTextContent'

  export default {
    components: { NewCommentForm, Comments, FeedbackTextContent },
	data() {
		return {}
    }
  }   

</script>
