<template>
  <main>
		<section class="content_wrapper">
			<div class="container">
        <Calc />
				<LastFeedback />
			</div>
		</section>
	</main>
</template>


<script>
  import Calc from '../components/calc'
  import LastFeedback from '../components/LastFeedback'

  export default {
    components: {Calc, LastFeedback},
    beforeMount() {
      document.title = 'QiwiWex | Обмен'
    }
  }
</script>
