<template>
<div>
  <HomeTextContent :order="order" />
  <div class="wex_calc">
    <div v-if="order">
      <h2 class="calculator-title article-title">
        Калькулятор валют
      </h2>
      <el-form :model="calcForm" :rules="formRules" ref="calc" class="calculator" @submit.prevent.native="onFormSubmit" >
        <div class="calculator-fields">
          <div class="calculator-block give">
            <h3 class="calculator-block-title article-title">
              Вы отдаете
            </h3>
            <div class="give-logo currency"></div>
            <div class="input-wrapper">

              <el-form-item prop="amount" for="amount">
                <el-input type="hidden" style="position: absolute"></el-input>
                <input type="text" v-model="calcForm.amount" id="amount" placeholder="Введите сумму" @input="validateAmount" />
              </el-form-item>
            </div>
          </div>
          <div class="calculator-block take">
            <h3 class="calculator-block-title article-title">
              Вы получаете
            </h3>
            <div class="take-logo currency"></div>
            <div class="input-wrapper">
              <el-form-item prop="fee">
                <el-input type="text" :value="calcForm.fee" auto-complete="off" :aria-readonly="true"></el-input>
              </el-form-item>
            </div>
          </div>
        </div>
        <div class="calculator-fields extra">
          <div class="calculator-block wallet">
            <h3 class="calculator-block-title article-title">
              Номер кошелька
            </h3>
            <div class="input-wrapper">
              <el-form-item prop="wallet">
                <el-input type="tel" v-model="calcForm.wallet" auto-complete="off" placeholder="+1 XXX XXX XX XX" ></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="calculator-block email">
            <h3 class="calculator-block-title article-title">
              Email
            </h3>
            <div class="input-wrapper">
              <el-form-item prop="email">
                <el-input type="text" v-model="calcForm.email" auto-complete="off" placeholder="Введите Email" ></el-input>
              </el-form-item>
            </div>
          </div>
        </div>
        <el-button native-type="submit"> Обменять </el-button>
      </el-form>
    </div>
    <div v-else class="result">
      <h2 class="calculator-title article-title">
        Данные для оплаты
      </h2>

      <div class="list">
        <a @click="back" class="back"> <i class="el-icon-d-arrow-left"></i>  НАЗАД </a>
        <div class="item">
          <div class="name">Номер заявки</div>
          <div class="val">{{serverInfo.id}}</div>
        </div>
        <div class="item">
          <div class="name">Email</div>
          <div class="val">{{serverInfo.email}}</div>
        </div>
        <div class="item">
          <div class="name">Ваш кошелек</div>
          <div class="val">{{serverInfo.from_account}}</div>
        </div>
        <div class="item">
          <div class="name">Кошелек для оплаты заявки</div>
          <div class="val">{{serverInfo.to_account}}</div>
        </div>
        <div class="item">
          <div class="name">Комментарий</div>
          <div class="val">{{serverInfo.comment}}</div>
        </div>
        <div class="item">
          <div class="name">Cумма которую отдает клиент</div>
          <div class="val">{{serverInfo.given}}</div>
        </div>
        <div class="item">
          <div class="name">Сумма которую получает клиент</div>
          <div class="val">{{serverInfo.received}}</div>
        </div>

        <div class="item" v-if="step === 2" >
          <a :href='serverInfo.link' @click="toPay" class="defoult_button" target="_blank"> Оплатить </a>
        </div>

        <div class="item step3"  v-if="step === 3" >
          <el-button type="success" @click="confirmPay"> Проверить оплату </el-button>
        </div>

        <div class="item step4" v-if="step === 4" >
          Платеж проверяется
          <div style="height: 50px; width: 45%" v-loading="true" element-loading-background="#f8f8f8" >

          </div>
        </div>

        <div class="item step5" v-if="step === 5" >
          <b>Платеж подтвержден! </b>
          <div >
            Ваш купон: {{ coupon }}
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

</template>

<script>
  import HomeTextContent from '../components/HomeTextContent'

  export default {
    components: {HomeTextContent},
    data() {
      return {

        delay: null,
        order: true,
        serverInfo: {},

        step: 1,

        calcForm: {
          amount: '',
          fee: '',
          wallet: '',
          email: '',
        },

        formRules: {
          amount: [
            {required: true, message: 'Это поле обязательно к заполнению', trigger: 'submit'},
            {
              validator: (rule, value, callback) => {
                let val = parseFloat(value);
                if (val <= 0) callback(new Error('Amount must be > 0'));
                callback();
              }, trigger: 'submit'
            }
          ],

          wallet: [
            {required: true, message: 'Это поле обязательно к заполнению', trigger: 'submit'},
            {
              validator: (rule, value, callback) => {
                if (!value.match(/^\+[0-9]{10,15}$/)) callback(new Error('wallet must be like a full phone number +1 111 888 88 88'));
                callback();
              }, trigger: 'submit'
            }
          ],

          email: [
            {required: true, message: 'Это поле обязательно к заполнению', trigger: 'submit'},
            {
              validator: (rule, value, callback) => {
                if (!value.match(/^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$/)) callback(new Error('Email must be like a typical email address email@domain.com'));
                callback();
              }, trigger: 'submit'
            }
          ],


        },
      }
    },
    watch: {},
    computed: {

    },
    methods: {
      validateAmount() {
        let afterDot, indexDot, val = this.calcForm.amount;
        val = val.replace(/,/, '.');
        indexDot = val.indexOf('.')
        if (~indexDot) {
          afterDot = val.substr(indexDot + 1);
          if (afterDot.length > 2) val = ((parseInt(parseFloat(val) * 100)) / 100);
        }
        this.onChangeAmount(val);
        this.calcForm.amount = val
      },
      back() {
        this.order = true;
        this.step = 1;
        this.sendText = 'Оплатить';
      },
      toPay(){
        this.step = 3;
      },
      confirmPay() {
        this.step = 4;
        this.$store.dispatch('exchangePaid', {
            order: this.serverInfo.id,
            callback: (coupon) => {
              this.coupon = coupon.data;
              this.step = 5;
            },
            onError: ()=>{
              this.step = 3;
              this.$notify({
                  title: 'Платеж не найден',
                  message: '',
                  type: 'warning'
              });
            }
        });
      },
      onChangeAmount(v) {
        clearTimeout(this.delay);
        this.delay = setTimeout(this.calculateFee, 300);
      },
      calculateFee(){
        this.$store.dispatch('calculateFee', {
            amount: this.calcForm.amount,
            callback: (res) => {
                this.calcForm.fee = res.data.amount;
            }
        });
      },
      sendForm(){
        this.$store.dispatch('sendForm', {
            amount: this.calcForm.amount,
            account: this.calcForm.wallet,
            email: this.calcForm.email,
            callback: (data) => {
                this.serverInfo = data;
                this.order = false;
                this.step = 2;
            },
            onError: ()=>{
              this.$notify({
                  title: 'Возникла проблема',
                  message: 'В данный момент сервис перегружен и мы не можем провести обмен. Попробуйте позднее или уменьшите сумму обмена',
                  type: 'warning'
              });
            }
        });
      },
      onFormSubmit() {
        this.$refs['calc'].validate(valid => {
          if (valid) {
            this.sendForm();
            return this.isCodeSend = true;
          } else {
            return false;
          }
        });
      }
    },
  }
</script>

<style lang="scss" scoped>

  .result{
    .list{
      background: #F8F8F8;
      border-radius: 10px;
      padding: 40px 25px;
      max-width: 450px;
      margin: 0 auto 66px auto;
    }
    .item{
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-top: 1px solid #000;
    }
    .back{
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 20px;
      height: 20px;
      i{
         font-size: 20px
      }
    }
    .defoult_button{
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;

      display: block;
      text-align: center;
      margin: 0 auto;
      padding: 5px;
      cursor: pointer;
      color: #fff;
      background: #44E0EA;
      border: 0;

      width: 236px;
      border-radius: 4px;
      height: 40px;
      line-height: 40px;
    }
    .step3{
      justify-content: center;
    }
    .step4{
      padding: 20px;
      align-items: center;
      justify-content: center;
    }
    .step5{
      flex-direction: column;
    }
  }

</style>
