<template>
  <footer>
		<section class="content_wrapper">
			<div class="container">
				<div class="footer-links">
					<a class="logo" href="/">qiwiwex.pro</a>
					<ul class="footer-links-list">
						<li class="footer-links-item"><a href="/">Обмен</a></li>
						<li class="footer-links-item"><a href="/feedback">Отзывы</a></li>
						<li class="footer-links-item"><a href="/contacts">Контакты</a></li>
					</ul>
				</div>
				<a class="email" @click="dialogVisible = true" >Правила обмена</a>
			</div>
		</section>
		<el-dialog
			title="Правила обмена"
			:visible.sync="dialogVisible"
			width="50%"
>
			<div v-html="rules"> </div>
			<span slot="footer" class="dialog-footer">
				<el-button type="primary" @click="dialogVisible = false">ok</el-button>
			</span>
		</el-dialog>
	</footer>
</template>
<script>
  export default {
    data () {
      return {
		rules: '',
		link: document.location.pathname,
		dialogVisible: false
      }
	},
		computed: {	
			home_class(){
				return this.link === '/' ? 'footer-links-item active' : 'footer-links-item ';
			},
			feedback_class(){
				return this.link === '/feedback' ? 'footer-links-item active' : 'footer-links-item ';
			},
			contacts_class(){
				return this.link === '/contacts' ? 'footer-links-item active' : 'footer-links-item ';
			},
		},
		methods:{
			home(){
				this.link='/';
				this.$router.push('/')
			},
			feedback(){
				this.link='/feedback';
				this.$router.push('/feedback')
			},
			contacts(){
				this.link='/contacts';
				this.$router.push('/contacts')
			},
			handleClose(done) {
				this.$confirm('Are you sure to close this dialog?')
				.then(_ => {
					done();
				})
				.catch(_ => {});
			},
			getRules(){
				this.$store.dispatch('getTextContent',{
					callback: (data)=>{ this.rules = data.data.rules._text;
					}
				});
        },
		},
		beforeMount(){
			this.getRules()
			// console.log(this.link);
		}
  }
</script>