<template>
  	<header>
		<section class="content_wrapper">
			<div class="container">
				<a class="logo" href="/">qiwiwex.pro</a>
				<div class="burger">
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"></div>
				</div>
				<ul class="nav-menu">
					<li :class="home_class"><a @click="home">Обмен</a></li>
					<li :class="feedback_class"><a @click="feedback" >Отзывы</a></li>
					<li :class="contacts_class"><a @click="contacts" >Контакты</a></li>
				</ul>

			</div>
		</section>
	</header>
</template>

<style lang="scss" scoped>

</style>

<script>
  export default {
    data () {
      return {
		link: document.location.pathname
      }
		},
		computed: {	
			home_class(){
				return this.link === '/' ? 'nav-menu-item active' : 'nav-menu-item ';
			},
			feedback_class(){
				return this.link === '/feedback' ? 'nav-menu-item active' : 'nav-menu-item ';
			},
			contacts_class(){
				return this.link === '/contacts' ? 'nav-menu-item active' : 'nav-menu-item ';
			},
		},
		methods:{
			home(){
				this.link='/';
				this.$router.push('/')
			},
			feedback(){
				this.link='/feedback';
				this.$router.push('/feedback')
			},
			contacts(){
				this.link='/contacts';
				this.$router.push('/contacts')
			}
		},
		beforeMount(){
			// console.log(this.link);
		}
  }
</script>
