<template>
    <article v-if="$props.order" class="pros">

        <h2 class="pros-title title">
           {{data.home_main_text._subject}}
        </h2>

        <ul class="pros-list" v-html="data.home_main_text._text"> </ul>

    </article>
    <article v-else class="pros">

        <h2 class="pros-title title">
           {{data.exchange._subject}}
        </h2>

        <ul class="pros-list" v-html="data.exchange._text"> </ul>

    </article>
</template>

<script>
export default {
    props: ['order'],
    data() {
		return {
            data: {
                home_main_text:{},
                exchange: {}
            }
        }
    },
    methods:{
        getLastCommentsList(){
            this.$store.dispatch('getTextContent',{
                callback: (data)=>{ this.data = data.data; console.log(data);
                }
            });
        },
    },
    beforeMount(){
        this.getLastCommentsList()
    }
}
</script>
