<template>
    <article class="latest-feedback">
        <h3 class="latest-feedback-title article-title">
            <a href="feedback.html">Последние отзывы</a>
        </h3>
        <div class="latest-feedback-wrapper">
            <div v-for="item in list" class="latest-feedback-item feedback-item">
                <h4 class="latest-feedback-item-title feedback-title">
                    <span class="name">{{item._name}}</span>&nbsp;
                    <span class="date">{{item._date.substr(0, 10) }}</span>
                </h4>
                <p class="latest-feedback-item-description feedback-description">
                    {{item._text}}
                </p>
            </div>
        </div>
    </article>
</template>

<script>
export default {
    data() {
		return {
            list: []
        }
    },
    methods:{
        getLastCommentsList(){
            this.$store.dispatch('getLastCommentsList',{
                callback: (data)=>{ this.list = data; console.log(this.list) }
            });
        },
    },
    beforeMount(){
        this.getLastCommentsList()
    }
}
</script>
